root > * {
  --md-primary-fg-color:        #334E80;
  --md-primary-fg-color--light: #FFFFFF;
  --md-primary-fg-color--dark:  #90030C;
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }
}